.about-inner {
    .box {
        width: 1150px;
        height: 422px;
        background: #266DF0;
        border-radius: 32px;
    }

    .box-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1150px;
        height: 421px;
        background-image: url(../../assets/img/about__inner-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        h2 {
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 50px;
            padding: 222px 0 0 40px;
            letter-spacing: 0.5px;
            color: #FFFFFF;
        }

        .white {
            width: 114px;
            height: 41px;
            margin: 18px 0 0 40px;
            background: #FFFFFF;
            border: 1px solid #FFFFFF;
            border-radius: 12px;
        }
    }

    .about__inner-list {
        margin-top: 29px;
        background: #1C1D1F;

        .link-1 {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            text-decoration: none;
            padding: 12px 0 43px 0;
            display: inline-block;
            letter-spacing: 0.1px;
            color: #266DF0;
        }

        .link-2 {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            text-decoration: none;
            padding: 12px 43px;
            margin-left: 45px;
            letter-spacing: 0.1px;
            color: #FFFFFF;
        }
    }
}