.about {
    background: #FBFBFB;

    .about-title {
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        text-align: center;
        padding-top: 90px;
        letter-spacing: 0.5px;
        color: #31373D;
    }

    .about-text {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        width: 419px;
        height: 51px;
        margin: 13px auto;
        letter-spacing: 0.4px;
        color: #555E67;
    }

    .users {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-top: 57px;
    }

    .user {
        background: #FFFFFF;
        border: 1px solid #F3F4F5;
        margin: 20px 0;
        border-radius: 20px;

        .user__info {
            display: flex;
            align-items: center;
            justify-content: start;
            padding: 25px 0 0 25px;
        }

        .user__info-icon {
            width: 48px;
            height: 48px;
        }

        .user__info-title {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            letter-spacing: 0.1px;
            padding-left: 10px;
            color: #5E636E;
        }

        .user__info-text {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            padding-left: 10px;
            letter-spacing: 0.1px;
            color: #ACB0B9;
        }

        .user-text {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            width: 318px;
            height: 98px;
            letter-spacing: 0.1px;
            color: #757C8A;
            padding: 21px 0 0 25px;
        }

        .user-date {
            padding: 20px 0 24px 25px;
        }
        
        span {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            letter-spacing: 0.1px;
            color: #9196A1;
        }
    }
}