.collaborate {
    background: #F3F4F5;

    .collaborate-inner {
        padding-top: 95px;
    }

    .collaborate-btn {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 0.1px;
        text-transform: uppercase;
        display: block;
        padding: 6px 11px;
        border: 1px solid #00A699;
        border-radius: 30px;
        margin: 0 auto;
        color: #00A699;
    }

    .collaborate-title {
        font-style: normal;
        font-weight: 400;
        font-size: 47px;
        text-align: center;
        letter-spacing: 0.5px;
        margin-top: 24px;
        color: #31373D;
    }

    .collaborate-text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        margin-top: 11px;
        text-align: center;
        letter-spacing: 0.4px;
        color: #555E67;
    }

    .collaborate-link {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        display: inline-block;
        padding: 12px 16px;
        letter-spacing: 0.3px;
        color: #FFFFFF;
        border: none;
        text-decoration: none;
        margin: 19px 510px 0 510px;
        background: #383E47;
        border-radius: 12px;
    }

    .collaborate-cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 60px;
    }

    .card__1 {
        background: #FFFFFF;
        border: 1px solid #F3F4F5;
        border-radius: 24px;

        .card__1-title {
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            width: 398px;
            height: 59px;
            line-height: 29px;
            letter-spacing: 0.2px;
            padding: 41px 51px 0 41px;
            color: #31373D;
        }

        .card__1-text {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            width: 357px;
            height: 67px;
            margin: 46px 0 0 41px;
            letter-spacing: 0.3px;
            color: #727B84;
        }

        .card__1-img {
            width: 680px;
            height: 316px;
            padding-top: 38px;
        }
    }

    .card__2 {
        background: #FFFFFF;
        border: 1px solid #F3F4F5;
        border-radius: 24px;

        .card__2-title {
            font-style: normal;
            font-weight: 400;
            font-size: 27px;
            line-height: 29px;
            padding: 40px 0 0 41px;
            letter-spacing: 0.2px;
            color: #31373D;
        }

        .card__2-text {
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            margin: 9px 0 0 41px;
            width: 322px;
            height: 67px;
            letter-spacing: 0.3px;
            color: #727B84;
        }

        .card__2-img {
            margin-top: 48px;
            width: 444px;
            height: 326px;
            overflow: hidden;
        }
    }

    .card__3 {
        background: #FFFFFF;
        border: 1px solid #F3F4F5;
        border-radius: 24px;

        .card__3-title {
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 29px;
            letter-spacing: 0.2px;
            width: 354px;
            height: 59px;
            margin: 41px 51px 0 41px;
            color: #31373D;
        }

        .card__3-text {
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            width: 360px;
            height: 45px;
            margin: 8px 0 0 41px;
            letter-spacing: 0.3px;
            color: #727B84;
        }

        .card__3-img {
            width: 444px;
            height: 356px;
            margin-top: 8px;
        }
    }

    .card__4 {
        background: #FFFFFF;
        border: 1px solid #F3F4F5;
        border-radius: 24px;
        margin-bottom: 89px;
    }

    .card__4-title {
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 29px;
        letter-spacing: 0.2px;
        margin: 40px 0 0 41px;
        color: #31373D;
    }

    .card__4-text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        width: 309px;
        height: 67px;
        margin: 9px 0 0 41px;
        letter-spacing: 0.3px;
        color: #727B84;
    }

    .card__4-img {
        width: 598px;
        height: 325px;
        margin-top: 45px;
    }
}