.collaborate {
    background: #F3F4F5;

    .collaborate-inner {
        padding-top: 95px;
    }

    .collaborate-btn {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        letter-spacing: 0.1px;
        text-transform: uppercase;
        display: block;
        padding: 6px 11px;
        border: 1px solid #00A699;
        border-radius: 30px;
        margin: 0 auto;
        color: #00A699;
    }
}